body {
    background-color: #f6f6f6;
}

#project {
    height: 400px;
}

.project_content {
    background-color: #fff;
    box-shadow: 0 0 5px #AAA;
    height: 100%;
}

.icon_list {
    font-size: 30px;
    width: 20px;
    height: 20px;
    margin-right: 15px;
}


.icon_div {
    font-size: 50px;
}

.targetDiv {
    display: none;
    max-height: 400px;
    overflow: auto;
    overflow-x: hidden;
}

h2 {
    color: #D64541;
}

.list-group-item:hover {
    color: #D64541;
}

.project_list {
    border: none;
}

.list-group-item a {
    cursor: pointer;
}

#div_show img{
    width: 150px;
    height: 150px;
}

#div_show {
    padding-top: 70px;
}

#logo_rotate {
    border-radius: 100px;
    margin-left: 0px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    }

    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


@media screen and (min-width: 766px) and (max-width: 1180px) {
    .showSingle{
        font-size: 12px;
    }
    .icon_list {
        font-size: 25px;
        height: 10px;
        margin-right: 5px;

    }
}
  

@media screen and (min-width: 600px) and (max-width: 766px) {
    .showSingle{
        font-size: 14px;
    }

}