body {
    background-color: #f6f6f6;
}

#project {
    height: 400px;
}

.project_content {
    background-color: #fff;
    box-shadow: 0 0 5px #AAA;
    height: 400px;
}

.icon_list {
    font-size: 30px;
    width: 20px;
    height: 10px;
    margin-right: 30px;
}


.icon_div {
    font-size: 50px;
}

.targetDiv {
    display: none;
    max-height: 400px;
    overflow: auto;
    overflow-x: hidden;
}

h2 {
    color: #D64541;
}

.list-group-item:hover {
    color: #D64541;
}

.project_list {
    border: none;
}

.list-group-item a {
    cursor: pointer;
}

#div_show img{
    width: 150px;
    height: 150px;
    justify-content: space-between;
}

#div_show {
    padding-top: 70px;
}

#logo_rotate {
    border-radius: 100px;
    margin-left: 0px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    }

    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }